@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-azul-claro: #4A90E2;         
    --color-texto-azul-escuro:#063557;         
    --color-branco: #FFFFFF; 
    --color-azul-claro-detalhes: #E8F5FF;       
    --color-texto-cinza-medio: #222222;        
    --color-texto-cinza-claro: #555555;        
    --color-preto-texto: #000000;         
  
    
    --color-fundo-escuro: #090A10;      
    --color-texto-claro: #FFFFFF;        
    --color-cinza-azulado: #1B1D32; 
    --color-quadrados-escuros: #101728;    

  }

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.hide-scrollbar:hover {
  scrollbar-width: auto; 
}